@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    margin: 0;
}